@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
    --color-active: #6c09ff;
    --color-background: ;
    --color-foreground: #FFFFFF;
    --color-accent: ;
    --color-text-dark: black;
    --color-text-light: white;
    font-size: 16px;
}

body {
    font-size: 100%;
    font-family: 'Montserrat';
    margin: 0;
}

.button {
    display: inline-block;
    background-color: var(--color-active);
    color: white;
    border-radius: 50px;
    padding: .7em 1.1em;
    font-weight: 500;
    transition-duration: 200ms;
    cursor: pointer;
}

.button:hover {
    filter: brightness(.9);
 
}



header {
    color: var(--color-dark);
    padding: 0 3em;
    position: absolute;
    height: 4em;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:  300ms;
   
}
body.light header {
    color: var(--color-text-light);
}

body.dark header {
    color: var(--color-text-dark);
}

body.dark header {
    filter: brightness(0);
}



body.on-page header {
    position: static;
}

header a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    padding: .4em .7em;
    backdrop-filter: blur(0px);
    transition-duration: 200ms;
    border-radius: 3px;
    background-color:transparent;
    font-weight: 500;
}

header a:hover {
    background-color: rgba(211, 211, 211, 0.19);
    backdrop-filter: blur(10px);
}

header #logo {
    width: 4em;
    filter: brightness(2);
}

nav {
    width: 100%;
    column-gap: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.nav-right {
    position: absolute;
    right: 0;
}

.hero {
    color: var(--color-text-light);
    width: 100%;
    height: 100vh;
    box-shadow: inset 0 20em 10em #03020a70;
}

.hero-text {
    z-index: 1;
    position: absolute;
    top: 7em;
    right: 0;
    padding-right: 5em;
   
    text-align: right;
}

.hero-text .big {
   
    font-size: 4em;
    margin: 0;
    letter-spacing: -1px;
}

.hero-text .focus-title {
    font-weight: 500;
    font-size: 1.2em;
    margin-top: 1em;
}

.hero-text .focus-description {
    margin-top: .5em;
    margin-bottom: 1em;
}

.hero-text .button {
    margin-left: 1em;
}


.hero img {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
   

   
}

.icon {
    height: 1.5em;
    padding: 0;
    display: flex;
    align-items: center;
}

.icon-link {
    padding: .2em .2em !important;
}

.img-background {
    
    width: 100%;
    height: 100vh;
    box-shadow: inset 0 20em 10em #03020a70;
}


.img-background img {
    filter: brightness(.5);
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;

   
}

/* */ 
.car-comparison {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.car-info-list {
    width: 25em;
}

.car-description {
    padding: 0em 3em;
}

.car-action {
    display: flex;
    align-items: center;
    column-gap: 1em;
  justify-content: center;
    margin: 2em 0;
}

.car-preview {

        width: 100%;
        height: 12em;
        object-fit: cover;
}

.car-name {
    margin: 0em 0;
    text-align: center;
    font-size: 2.5em;
}

.car-price {
    text-align: center;
    font-size: .9em;
    opacity: .6;
    font-weight: 600;
}

.point {
    font-size: .8em;
    text-align: center;
    margin-bottom: 2em;

    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 1em;
}



.point .big-text {
    font-size: 2.2em;
}

.point .icon {
    font-size: 3em;
}